@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Playfair Display", serif;
}

.playfair {
  font-family: "Playfair Display", serif;
}

.label,
.welcome__lead,
.montserrat {
  font-family: "Montserrat", sans-serif;
}
.welcome__lead {
  font-weight: 500;
}
.welcome__picture {
  background-image: url("../cheesecake.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 95%;
}
.welcome__icon {
  color: #c4c4c4;
}
.overview__dining {
  font-size: 20px;
}
.overview__clock {
  font-size: 20px;
  color: #4f4f4f;
}
.text-area {
  @apply pl-1;
}
.text-area__title {
  color: #bdbdbd;
  font-size: 0.6rem;
  line-height: 0.5rem;
}
.text-area__sub {
  font-size: 0.7rem;
  line-height: 1rem;
}
@media (min-width: 768px) {
  /* overview */
  .text-area {
    @apply pl-2;
  }
  .text-area__sub {
    font-size: 0.85rem;
    line-height: 1.2rem;
  } 
  .overview__dining {
    font-size: 30px;
  }
  .overview__clock {
    font-size: 30px;
  }
  .label {
    font-size: 16px;
    line-height: 25px;
    font-family: "Montserrat", sans-serif;
    color: #333;
  }
  .label__important {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
  .label__suggestions {
    color: #333;
    font-weight: 500;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
  }
}


/* Customize the label  */
.label {
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
  position: relative;
  font-size: 14px;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  color: #333;
}
.label__important {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.label__suggestions {
  color: #333;
  font-weight: 500;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
}

/* Hide the browser's default checkbox */
.label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  /* background-color: #eee; */
  border: 1px #828282 solid;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label input:checked ~ .checkmark {
  background-color: #f59e0b;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
